.contenedor_detalles_usuario{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedor_juego {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(2, 162, 255);
    width: 10rem;
    height: 10rem;
    margin-top: 2rem;
}

.inicio_boton{
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 3rem;
    background-color: green;
    font-weight: bold;
    cursor: pointer;
    color: white;
    margin-bottom: 3rem;
}

.inicio_boton:hover{
    cursor: pointer;
    background-color: greenyellow;
    font-size: 1.1rem;
    color: black;
}

.detail_juego {
    font-weight: 600;
    color: white;
}

.detail_dato {
    font-weight: 500;
    color: black;
}